mixin videoCard(video)
  article.video-card
    .video-card--bg.--minicover(style="background-image: url(" + video.minicover + ");")
    .video-card--bg.--minipreview(style="background-image: url(" + video.minipreview + ");")

    header.video-card-header
      figure.video-card-header--category
        img(src=video.category.img.white)
      button.video-card-header--watch
        span
        | Assistir
    
    section.video-card-info
      h3.video-card-info--title #{video.title}
      p.video-card-info--extra
        if video.year
          span #{video.year}
        if video.episode
          span Episódio #{video.episode}
      p.video-card-info--description #{video.description}